# === IDE / Editors ===
.vscode/
.idea/
*.swp

# Venv
/venv/
/env/
/.venv/

# === Python ===
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.so
**/*.egg-info/
**/*.egg

# === Django ===
#media/
#staticfiles/

# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === React build ===
build/
dist/
.cache/

# === Project local ===
local_files/
#data/
#sets/
#ch2-key.pem
#.env.dev
#.env.prod
#dev.txt

# === Logs and temp fles ===
*.log
*.pot
*.pyc

# === DB ===
#*.sqlite3

# === GIT ===
/.git/
.gitignore

# === Docker ===
*.pid
*.seed
*.pid.lock

# === Coverage / Testing ===
#.coverage
htmlcov/
.tox/
pytest_cache/
.pytest_cache/
#/tests

# === System files ===
.DS_Store
Thumbs.db
